<div class="app-background container-block">
    <div class="d-flex justify-content-between mt-4" [style.height]="'20%'">
        <div class="col-sm-6">
            <img src="./assets/milkybar_logo.png" loading="lazy">
        </div>
        <div class="col-sm-6">
            <img class="mx-auto" src="./assets/sourvenirs.png" loading="lazy">
            <img class="mx-auto" src="./assets/home-icon.png" loading="lazy">
        </div>
    </div>
    <div class="d-flex" [style.height]="'70%'">
        <div class="img-container-big">
            <img class="image2" src="./assets/background_small.png" loading="lazy">
            <div class="notebook-container">
                <div class="d-flex justify-content-evenly align-items-center w-100 h-50 m-auto g-0">
                    <div class="col-sm-4 profile-placeholder">
                        <img class="edit-image" src="./assets/edit-icon.png" alt="edit">
                    </div>
                    <div class="col-sm-6 mx-1">
                        <div style="color: #021689;" class="mx-3">NAME : </div>
                        <div class="my-2 name-place mx-2">
                            NAME
                        </div>
                        <div class="my-4 world-text mx-2">
                            I'M READY TO DISCOVER THE WORLD!
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-evenly w-100 h-50 m-auto g-0">
                    <div class="col-sm-12 h-25 my-4 continent-text text-center">CONTINENTS</div>
                    <div class="col-sm-12 ">
                        <!-- <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
                            style="width: 100%; height: 400px; display: block;"></highcharts-chart> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex">
        <img src="./assets/download_button.png" loading="lazy" class="w-50">
    </div>
</div>